*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
 
 

}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
   color: white;
  padding: 33px;
  font-size: 18px;
  cursor: pointer;
  
  
}
nav .right :hover{
    color: rgb(207, 46, 46);
  font-weight: 600;
}
nav .right{
    display: flex;
    
     
}
.nv{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    height: 400px;
    width: 100%;

}
.right p{
    margin-inline:23px ;
    
}
.logo{
    text-align: center;
    color: white;
}
.logo img{
     
  width: 28%;
  margin-top: 33px;
}
.logo h1{
    font-size: 38px;
    margin-top: 22px;
}
.srh {
    display: flex;
    justify-content: center;
}
.srh input{
    width: 560px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 33px;
    font-size: 19px;
    padding: 10px;
    font-family: 'Mukta', sans-serif;
}

.card{
    display: flex;
    justify-content: center;
   
    margin-top: 33px;
    
    text-align: center;

}
 
.card .crd img{
    width: 83%;
    height: 55%;
    
    border-radius: 10px;
    
}
.card .crd img:hover{
    width: 84%;
    height: 56%;
}
.coll{
    margin-left: 44px;
    font-size: 25px;
}
.food{
    display: flex;
    justify-content: center;
}
.food img{
    margin-top: 33px;
    width:22%;
    height:232px;
    margin-inline: 8px;
    border-radius: 11px;
}
.app{
    display: flex;
    justify-content: center;
    margin-top: 88px;
    background-color: rgb(248, 237, 237);
}
.app img{
    width: 34%;
   
}
.app h1{
    margin-top: 99px;
    font-size: 43px;
}
 
 
.option  {
     
     background-color: rgb(253, 253, 253);
     padding: 24px;
}
.option h1{
    margin-left: 60px;
   margin-top: 44px;
}



.option button{
    margin-left: 60px;
    width: 1050px;
    height:60px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgb(240, 237, 237);
    margin-top: 22px;
    font-size: 18px;
}
 
.footer{
    display: flex;
   justify-content: center;
    background-color: rgb(245, 241, 241);
    padding: 44px;
    
}
 .footer .list{
    margin-inline: 42px;
 }
 .footer p{
    color: rgb(114, 112, 112);
 }
 .footer .list i{
    font-size: 30px;
    margin-inline: 5px;
    margin-top: 11px;
 }