*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
 
}
.nv{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    width: 100%;
    height: 400px;
}
.nv nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
     
}
.nv nav .right{
    display: flex;

}
nav p{
    margin-inline: 11px;
    margin-top: 22px;
}
.nv .logo{
    text-align: center;
}
.nv .logo img{
    width: 42%;
    margin-top: 66px;
}
.nv .inp{
    text-align: center;
}
.nv .text{
    text-align: center;
    color: white;
    margin-top: 22px;
    font-size: 20px;
}
.nv .inp input{
    width: 600px;
    height: 10px;
    font-size: 19px;
    padding: 22px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 22px;
    font-family: 'Mukta', sans-serif;

}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}
.card .crd img{
    width: 320px;
    height: 220px;
    border-radius: 6px;
    margin-top: 55px;
}

.coll .txt{
    margin-left: 34px;
    margin-top: 64px;
    padding: 33px;
}
.coll .rest{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.rest img{
    width: 24%;
    border-radius: 7px;
}

.app{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(252, 239, 241);
    margin-top: 66px;
}
.app img{
    width: 37%;
}
.app h1{
    margin-top: 94px;
    font-size: 44px;
    
}
.btn{
    background-color: rgb(253, 253, 253);
    padding: 44px;
}
.btn h1{
    margin-left: 44px;
    margin-top: 44px;
    padding: 33px;
}
.btn button{
    width: 900px;
    height: 60px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 22px;
    margin-left:133px;
    font-size: 22px;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(235, 231, 231);
    margin-top: 44px;
    padding: 44px;
}