 *{
   margin: 0%;
   padding: 0%;
 }
 body{
   background-color: black;
   font-family: 'Mulish', sans-serif;
 }
 .head{
   text-align: center;
   color: white;
   margin-top: 10px;
   margin: 30px;
   font-size: 45px;
   
 }
 .nav{
   width: 100%;
   height: 50px;
   background-color: white;

 }
 ul {
   display: flex;
   justify-content: center;
 }
 ul li{
   list-style: none;
   font-size: 26px;
   margin-top: 10px;
   margin-inline:30px ;
   font-weight: 600;
 }
 ul li:hover{
   border-bottom: 3px solid rgb(220, 5, 5);
   font-size: 29px;
   cursor: pointer;
 }
 .container{
   margin-top: 30px;
   color: white;
 }
 .container .row{
   
   display: flex;
   justify-content: center;
 }
 .container .row .img{
   margin-inline: 30px;
   text-align: center;
   justify-content: center;
 }
 .container .row .img img{
   width: 100%;
 }.container .row .img img:hover{
   width: 105%;
 }
 .container .row .img button{
   width: 150px;
   height: 40px;
   background-color: #e00707;
   border: none;
   color: white;
   font-size: 22px;
   border-radius: 3px;
    
 }
 .container .row .img button:hover{
   border: 3px solid white;
   font-size: 27px;
 }
 .container .row .img  h2{
   margin-top: 10px;
   font-size: 28px;
 }
 .container .row .img  h2:hover{
   color: #e00707;
 }
 @media (max-width:750px){
   .container .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   .container .row .img img{
      width: 60%;
   }
   .container .row .img img:hover{
    width: 63%;
 }
   .nav ul li{
      margin-inline: 16px;
      font-size: 22px;
      font-weight: 800;
   }
   .container .row .img{
    margin: 10px;
   }
    
 }

 @media (max-width:550px){
   .container .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   .container .row .img img{
      width: 80%;
   }
   .container .row .img img:hover{
    width: 83%;
 }
   .nav ul li{
      margin-inline: 8px;
      font-size: 18px;
      font-weight: 800;
   }
   .container .row .img{
    margin: 10px;
   }
 }

 @media (max-width:370px){
   .container .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   .container .row .img img{
      width: 100%;
   }
   .container .row .img img:hover{
    width: 102%;
 }
    
   .nav ul li{
       

      margin-inline: 7px;
      font-size: 16px;
      font-weight: 800;
   }
   .container .row .img{
    margin: 10px;
   }
    
 }