*{
    margin: 0%;
    padding: 0%;
    font-family: 'Mulish', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 11px;
}
nav  img{
    width: 48%;
}
 
nav input{
    width: 350px;
    height: 26px;
    margin-top: 44px;
    margin-left: -392px;
}
 .icon{
    width: 140px;
    height: 50px;
    background-color: rgb(206, 202, 202);
    text-align: center;
    margin-top: 26px;
    font-size: 16px;
    

 }
 .icon i{
    margin-top: 5px;
    font-size: 22px;
    color: rgb(245, 40, 40);
 }
 .sec{
    display: flex;
    justify-content: center;
 }
 .sec button{
    width: 210px;
    background-color: rgb(104, 170, 42);
    border: none;
    font-size: 16px;
    color: white;
 }
  
 .sec input{
    width: 750px;
    height:35px;
    border: 1px solid rgb(211, 205, 205);
}
.main-page img{
    width: 100%;
}

.food-types{
    text-align: center;
    margin-top: 22px;
}
.food-types button{
    width: 165px;
    height: 37px;
    background-color: rgb(48, 80, 19);
    color: white;
    font-size: 13px;
    border-radius: 6px;
    margin-inline: 10px;
    font-weight: 600;
    border: none;
}
.food-types button:hover{
    background-color: transparent;
    color: black;
    border: 2px solid   rgb(48, 80, 19);
    font-weight: 700;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.container .card{
    width: 200px;
    height: 230px;
    border: 1px solid black;
    text-align: center;
    margin-inline: 22px;

}
.card img{
    width: 60%;
    margin-top: 22px;
}
 .coffee{
    display: flex;
    justify-content: baseline;
     text-align: center;
     margin-left:144px;
     margin-top: 33px;
     
  

 }
 h1{
    text-align: center;
    margin-top: 33px;
 }
 .kitchen{
    margin-top: 44px;
 }
 .kitchen img{
    width: 100%;
 }
 .store h1{
    text-align: center;
    margin-top: 33px;
 }
 .store .brand{
    display: flex;
    justify-content: center;
    justify-content: space-around;
 }
 .store .brand .crd{
    width: 200px;
    border: 2px solid gray;
    text-align: center;
    margin: 22PX;
 }
 .store .brand img{
    width: 80%;
     
 }