*{
    margin: 0%;
    padding: 0%;
    
font-family: 'Mulish', sans-serif;
}
.fnav{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        background-color: rgb(42, 42, 68);
        color: white;
        padding: 6px;
}
.fnav img{
    width: 19%;
    color: white;
    margin-inline: 22px;
}
.fnav .left{
    display: flex;
}
.left input{
    width: 420px;
    height: 33px;
    border-radius: 2px;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
.fnav .right{
    display: flex;
    margin-top: 11px;
   
}
.right button{
    width: 80px;
    height: 27px;
    background-color: rgb(252, 58, 91);
    color: white;
    border: none;
    border-radius: 4px;

    margin-inline: 22px;
    
}
.right i{
    font-size: 22px;
    margin-inline: 22px;

}
.right p{
    font-size: 19px;
    margin-inline: 22px;
}



    .sec-nav{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 11px;
        background-color: rgb(26, 26, 49);
        color: white;
    }
    .sec-nav p:hover{
     font-weight: 600;
     cursor: pointer;
        color: rgb(252, 87, 114);
    }
    .s-left{
        display: flex;
    }
    .s-left p{
        margin-inline: 15px;
    }
    .s-right p{
        margin-inline: 15px;
    }
    .s-right{
        display: flex;
    }

    .main img{
        width: 100%;
    }
    .container h2{
        text-align: center;
        padding:22px ;
    }
    .container .card{
        display: flex;
        justify-content: center;
        justify-content: space-around;

    }
    .card img{
        width: 17%;
        margin-inline: 15px;
        border-radius: 10px;
    }
    
    .banner img{
        width: 100%;
        margin-top: 33px;
    }
    .premiere{
        background-color: rgb(15, 15, 29);
        padding: 22px;
        margin-top: 40px;
        color: white;
    }
    .premiere  .containers{
        margin-top: 33px;
    }
     .containers .card{
        margin-top: 11px;
     }
     .footer{
        background-color: rgb(238, 232, 232);
        padding: 33px;
        margin-top: 44px;
     }
     .footer img{
       margin-left: 39%;
        width: 22%;
        border-top:2px solid gray ;
     }
     .footer .icon{
        display: flex;
        justify-content: center;
     }
     .icon i{
        margin-inline: 22px;
        font-size: 33px;
     }