body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
    font-size: 26px;

}
nav h1{
    font-size: 50px;
    color: rgba(250,10,10,0.801);;
    border-bottom: 5px solid rgba(250,10,10,0.801);
    border-radius:40px ;
    font-family: 'Courgette', cursive;
    margin-top: 8px;
}
ul{
    display: flex;

}
ul li{
    list-style: none;
    margin-inline: 30px;
}
.btn button{
    width: 100px;
    height: 36px;
    border: 3px solid  rgba(250,10,10,0.801);
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.main-div{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 30px;
}
.main-div .head{
    font-size: 50px;
    margin-left: 40px;

}
.head button{
    width: 180px;
    height: 47px;
    background-color: rgba(250,10,10,0.801);
    color: white;
    font-size: 25px;
    border-radius: 6px;
}
.head button:hover{
    background-color: black;
    border: 3px solid rgba(250,10,10,0.801);
     cursor: pointer;
}
.img img{
    margin-right: 30px;
    width: 570px;
}
