*{
    margin: 0%;
    padding: 0%;
    /* font-family: 'Mulish', sans-serif;
    font-family: 'Lato', sans-serif; */
font-family: 'Mukta', sans-serif;
}

.f-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
   background-color: rgb(253, 138, 157);
   padding: 11px;
}
.feature{
    display: flex;
     
}
.feature .app{
    margin-inline: 33px;
    display: flex;

    
    
     
}
.app i{
    margin-inline: 5px;
    color: rgb(20, 20, 20);
    margin: 4px
    ;
}
.sec-nav{
    display: flex;
    justify-content: center;
    padding: 12px;
    border-bottom: 1px solid rgb(236, 229, 229);
}
.sec-nav ul li img{
    width: 10%;
    margin-left: 33px;
}
.sec-nav ul li a {
    margin-inline: 22px;
    font-weight: 600;
    

}
.sec-nav ul li a:hover{
    color: rgb(255, 55, 88);
    cursor: pointer;

}
.sec-nav .icon{
    display: flex;
}
.sec-nav .icon input{
    width: 220px;
    text-align: center;
    background-color: rgb(248, 244, 244);
    font-size: 15px;
    outline: none;
    border: none;
}
.sec-nav .icon button{
    width: 80px;
     margin-inline: 26px;
     background-color: rgb(247, 52, 100);
     color: white;
     border: none;
     border-radius: 5px;
     font-size: 16px;
}
.option{
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
}
.option ul li a{
    margin-inline: 20px;
    font-family: 'Mulish', sans-serif;
}
.option ul li a:hover{
    color: rgb(255, 55, 88);
    cursor: pointer;
    border-bottom: 2px solid   rgb(247, 78, 106);
    cursor: pointer;


}
.option ul li button{
    width: 100px;
    height: 30px;
    background-color: rgb(247, 52, 100);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}
.main-page img{
    width: 100%;
}
.pink h2{
    text-align: center;
    padding: 8px;
}
.pink img{
    width: 100%;
}
.card-two{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 22px;
}
.card-two img{
     
    width: 43%;
}
.brands h2{
    text-align: center;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}
.card img{
    width: 44%;
    margin-inline: 11px;
}

.only-nykaa h2{
    text-align: center;
    padding: 22px;
}

.only-card {
    display: flex;
    justify-content: center;
    
}
.only-card img{
    width: 44%;
    margin-inline: 11px;
}
.editor{
    display: flex;
    justify-content: center;
    margin-top: 22px;
     
}
.editor img{
    width: 22%;
    margin-inline: 11px;
}
.brand-card h2{
    text-align: center;
    padding: 22px;
}
.brd-img{
    display: flex;
    justify-content: center;

}
.brd-img img{
    width: 44%;
    margin-inline: 11px;
}
.advice h2{
    text-align: center;
    padding: 22px;
}
.advice .beauty{
    display: flex;
    justify-content: center;
   
}
.beauty img{
    width: 44%;
    margin-inline: 11px;
}



.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(150, 148, 148);
    padding: 42px;
    margin-top: 22px;
    color: white;
}
.footer .list{
 flex-direction: column;
}
.list ul li{
    list-style: none;
}
.list ul li h2{
    font-size: 16px;
}
.list ul li a{
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-weight: 600;

}
.footer .list img{
    width: 7%;
}