*{
    margin: 0%;
    padding: 0%;
    /* font-family: 'Lato', sans-serif; */
font-family: 'Mukta', sans-serif;
/* font-family: 'Mulish', sans-serif; */
}
.f-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(252, 155, 171);
    padding: 16px;
}
.feature{
    display: flex;

}
.feature .app{
    display: flex;
    margin-inline: 22px;
}
.feature .app i{
    margin-inline: 8px;
    margin: 6px;
}
 
.sec-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 11px;
    border-bottom: 1px solid rgb(224, 218, 218);
 

}
.sec-nav ul li img{
    width: 8%;
    margin-left: 22px;
}
.sec-nav ul li a{
    margin-inline: 22px;
}
.sec-nav .inputs{
    display: flex;
}
.sec-nav .inputs button{
    margin-inline: 22px;
}
.sec-nav .inputs input{
    width: 220px;
    background-color: rgb(225, 217, 217);
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}
.sec-nav .inputs button{
    width: 80px;
    height: 35px;
    background-color: rgb(249, 61, 92);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}
.items{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 5px;
   

}
.items ul li a{
list-style: none;
    margin-inline: 20px;
    text-align: center;
    font-family: 'Mulish', sans-serif; 
}
.items ul li button{
    width: 100px;
    height:34px;
    background-color: rgb(249, 61, 92);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}
.items ul li{
    list-style: none;
}
.main-page img{
    width: 100%;
}
.pink img{
    width: 100%;
}
.pink h2{
    text-align: center;
    padding: 7px;
}
.brand h2{
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 33px;
}
.card img{
    margin-inline: 22px;
    width: 44%;
}
.brand h2{
    text-align: center;
    padding: 22px;
}
.topbrd{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.topbrd img{
    margin-inline: 22px;
    width: 44%;
}

.only-nykaa h2{
  text-align: center;
  padding: 22px;
}
.only-nykaa .only{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.only img{
    width: 44%;
    margin-inline: 22px;
}
.makeup{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 42px;
}
.makeup img{
    width: 22%;
    margin-inline: 18px;
}
.special h2{
    text-align: center;
    padding: 22px;
}
.special .curation{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.curation img{
    margin-inline:22px ;
    width: 44%;
}
.beauty h2{
    text-align: center;
    padding: 22px;
}
.beauty .advice{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.advice img{
    margin-inline: 22px;
    width: 44%;
}
 


.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(150, 148, 148);
    padding: 42px;
    margin-top: 22px;
    color: white;
} 
.footer .list{
    flex-direction: column;
}
.footer .list ul li {
    list-style: none;
}
.footer .list ul li a{
    font-weight: 600;
    font-size: 13px;
}
.footer .list ul li h2{
    font-size: 18px;
}