*{
    margin: 0%;
    padding: 0%;
font-family: 'Mulish', sans-serif; 
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 11px;
    font-family: 'Poppins', sans-serif;
}
nav img{
    width: 18%;
     margin-top: -5%;
}
nav input{
    width: 360px;
    height: 35px;
    outline: none;
    font-size: 16px;
}
nav .pro{
    display: flex;
    margin-top: 6px;
    font-size: 18px;
    cursor: pointer;
     
}
nav .down{
    margin-top: 6px;
    font-size: 18px;
    cursor: pointer;
}
.pro i{
  margin-inline: 11px;
}

.sec-nav {
    font-family: 'Poppins', sans-serif;
     font-weight: 600;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: -43px;
    border: 1px solid rgb(212, 204, 204);
    padding: 17px;
    border-left: none;
    border-right: none;
    color: rgb(95, 95, 95);
}
.sec-nav p:hover{
    color: rgb(249, 16, 55);
    font-weight: 600;
    
    cursor: pointer;
}
.main{
    display:flex ;
    justify-content: center;
    margin-top: 33px;
    
}
.main .card{
    width: 500px;
    background-color: rgb(248, 243, 243);
}
.main .card h1{
    margin-left: 22px;
    margin-top: 33px;
    font-size: 44px;
}
.main .itm{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 31px;
}
.main button{
    width: 320px;
    height: 44px;
    background-color:rgb(248, 56, 88);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 22px;
   margin-left: 40px;
   margin-top:65px;
}
.main button:hover{
    border: 3px solid rgb(244, 21, 58);
    background-color: transparent;
    color:  rgb(244, 40, 74);
}
.top-cat h1{
    text-align: center;
    margin-top: 40px;
}
.top-cat .img{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 86px;
    width: 1000px;
    margin-top: 22px;
    background-color: rgb(247, 207, 214);

}
.top-cat .img h1{
    font-size: 63px;
    margin-top: 99px;
}
.seller h1{
    text-align: center;
    margin-top: 53px;
    padding: 24px;
}
.seller img{
  
    justify-content: center;
     text-align: center;
     width: 86%;
     margin-left: 76px;
     
}
.cards{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 55px;
}
.cards .img img{
    width: 74%;
    border: 1px solid rgb(230, 220, 220);
    
}
.cards p{
    font-size: 22px;
}
h1{
    font-size: 44px;
    text-align: center;
    margin-top: 33px;
}
.footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    background-color: rgb(247, 243, 243);
    padding: 77px;
    margin-top: 44px;
     
}
.footer .list{
    margin-inline: 4px;
}
 
.footer img{
    width: 22%;
    margin-inline: 11px;
}
.footer p{
    color: rgb(73, 72, 72);
    font-weight: 600;
}
.footer .list i{
    margin-inline: 11px;
    font-size: 33px;
}
.footer .list .face{
    color: rgb(0, 132, 255);
}

.footer .list .insta{
    color: rgb(255, 38, 38);
}
.footer .list .yt{
    color: rgb(252, 29, 29);

}
.footer .list .twt{
    color: rgb(0, 132, 255);
}
.footer .list .icon{
    display: flex;
}