   *{
    background-color: black;
   }
   h1{
    /* border: 3px solid white; */
    width: 1180px;
    font-size: 225px;
    color:rgb(40, 236, 243);
    text-align: center;
    font-family: 'Lato', sans-serif;

   }







/* color:rgb(40, 236, 243); */