@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@200&family=Courgette&family=Edu+TAS+Beginner:wght@700&family=Lato:wght@300;900&family=Mukta:wght@700&family=Mulish:wght@300&family=Open+Sans&family=PT+Sans:ital,wght@1,700&family=Poppins:wght@300&family=Raleway:wght@100&family=Roboto+Condensed:wght@700&family=Roboto+Slab&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url("coffe.jpg");
    background-size: 100% 740px;
    font-family: 'Mulish', sans-serif;
}
.contain{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 36%;
    margin-top: 7%;
    text-align: center;
    color: white;
    

}
.contain h1{
    font-size: 36px;
    color: aqua;
}
.contain .text{
    position: relative;
    top: 7%;
}

.inp1{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}


.inp2{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 20px;
    margin-top: 40px;
    outline: none;
    color: white;
}
.text button{
 width: 250px;
 height: 44px;
 background-color: aqua;
 color: black;
 border: none;
 font-size: 24px;
 border-radius: 25px;
 margin-top: 20px;
 cursor: pointer;
}
button:hover{
    border: 3px solid aqua;
    color: white;
    font-size: 20px;
    background-color: black;
}
p{
    margin-top: 30px;
    font-size: 20px;
}
p span{
    color: aqua;
    cursor: pointer;
}




