 *{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
 }
 .main{
    display: flex;
    
 }
 .main .left{
    margin-top: 77px;
 }
 .main .left nav img{
    width: 30%;
 }
 .main .left nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
 }
 .left nav .sign{
    width: 110px;
    height: 36px;
    background-color: black;
    color: white;
    border: none;
    


 }
 .left nav button{
     color: black;
     background-color: transparent;
     border: none;
     margin-inline:13px ;
     margin-top: 6px;
     font-size: 17px;

 }
.main .main-img{
    width: 530px;
}
.main .left .txt{
    margin-left: 63px;
    margin-top: 77px;
}
.left .txt h1{
    font-size: 43px;
}
.left .txt p{
    margin-top: 22px;
    font-size: 22px;
}
.left .txt .inp{
    display: flex;
    margin-top: 22px;
}
.left .txt input{
    width: 380px;
    height: 36px;
    border: 1px solid rgb(241, 76, 16);
    border-right: none;
    padding: 8px;
     
}
.left .txt .inp button{
     width: 120px;
     background-color: rgb(237, 74, 15);
     border: none;
     font-size: 18px;
     color: white;
    
}

.card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(36, 19, 7);
    text-align: center;
    color: white;
    padding: 44px;
}
.card .crd img{
    width: 33%;
}
.rest{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.rest img{
    width: 32%;
}
.rest .text{
    margin-top: 84px;
}
.rest .text h1{
    font-size: 44px;
}
.rest .text p{
    margin-top: 11px;
}
.rest .text img{
    margin-top: 22px;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 44px;
}
.footer .list {
    margin-inline: 33px;
}
.footer .list img{
    width: 53%;
    border: 2px solid white;
    border-radius: 4px;
    margin-top: 11px;
}